{% if messages %}
<div class="fixed top-20 right-4 z-[60] w-[min(92vw,380px)] no-print">
    <div class="space-y-2 animate-[fadeIn_.2s_ease-out]">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                {% include 'partials/alert.html' with level='error' text=message alert_id=forloop.counter %}
            {% elif message.tags == 'success' %}
                {% include 'partials/alert.html' with level='success' text=message alert_id=forloop.counter %}
            {% elif message.tags == 'warning' %}
                {% include 'partials/alert.html' with level='warning' text=message alert_id=forloop.counter %}
            {% else %}
                {% include 'partials/alert.html' with level='info' text=message alert_id=forloop.counter %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
